    <td class="form-group ref">
        <input type="text" id="quotation_content___name___reference" name="quotation[content][__name__][reference]" class="form-control" />
    </td>
    <td class="form-group description">
        <input type="text" id="quotation_content___name___description" name="quotation[content][__name__][description]" class="form-control" />
    </td>
    <td class="form-group quantity">
        <input type="number" id="quotation_content___name___quantity" name="quotation[content][__name__][quantity]" class="form-control" />
    </td>
    <td class="form-group taxes">
        <input type="number" id="quotation_content___name___taxes" name="quotation[content][__name__][taxes]" class="form-control" />
    </td>
    <td class="form-group price">
        <input type="number" id="quotation_content___name___price" name="quotation[content][__name__][price]" class="form-control" />
    </td>
    <td class="form-group total bg-white">

    </td>