{% extends 'base.html.twig' %}

{% block title %}{% trans %}New Quotation{% endtrans %}{% endblock %}

{% form_theme form _self %}
{% block _quotation_content_entry_widget %}
    {{ include('admin/quotation/_widget_configuration.html.twig') }}
{% endblock %}

{% block javascripts %}
    {{ include('admin/quotation/_javascript.html.twig') }}
{% endblock %}

{% block body %}
    <h1>{% trans %}Create new Quotation{% endtrans %}</h1>

    {{ include('admin/quotation/_form.html.twig') }}

    <a href="{{ path('admin_quotation_index') }}">{% trans %}back to list{% endtrans %}</a>
{% endblock %}
