{% extends 'base.html.twig' %}

{% block title %}New Quotation{% endblock %}

{% form_theme form _self %}
{% block _recipe_quantity_entry_widget %}
    {{ include('admin/quotation/_widget_configuration.html.twig') }}
{% endblock %}

{% block body %}
    <h1>Create new Quotation</h1>

    {{ include('admin/quotation/_form.html.twig') }}

    <a href="{{ path('admin_quotation_index') }}">back to list</a>
{% endblock %}
