<td class="form-group ref">
    <input type="text" id="invoice_content___name___reference" name="invoice[content][__name__][reference]" class="form-control" />
</td>
<td class="form-group description">
    <input type="text" id="invoice_content___name___description" name="invoice[content][__name__][description]" class="form-control" />
</td>
<td class="form-group quantity">
    <input type="number" id="invoice_content___name___quantity" name="invoice[content][__name__][quantity]" class="form-control" />
</td>
<td class="form-group taxes">
    <input type="number" id="invoice_content___name___taxes" name="invoice[content][__name__][taxes]" class="form-control" />
</td>
<td class="form-group price">
    <input type="number" id="invoice_content___name___price" name="invoice[content][__name__][price]" class="form-control" />
</td>
<td class="form-group total bg-white">

</td>