{% extends 'base.html.twig' %}

{% block title %}New Invoice{% endblock %}

{% form_theme form _self %}
{% block _invoice_content_entry_widget %}
    {{ include('admin/invoice/_widget_configuration.html.twig') }}
{% endblock %}

{% block javascripts %}
    {{ include('admin/invoice/_javascript.html.twig') }}
{% endblock %}

{% block body %}
    <h1>Create new Invoice</h1>

    {{ include('admin/invoice/_form.html.twig') }}

    <a href="{{ path('admin_invoice_index') }}">back to list</a>
{% endblock %}
