{% extends 'base.html.twig' %}

{% block title %}{% trans %}New Invoice{% endtrans %}{% endblock %}

{% form_theme form _self %}
{% block _invoice_content_entry_widget %}
    {{ include('admin/invoice/_widget_configuration.html.twig') }}
{% endblock %}

{% block javascripts %}
    {{ include('admin/invoice/_javascript.html.twig') }}
{% endblock %}

{% block body %}
    <h1>{% trans %}Create new Invoice{% endtrans %}</h1>

    {{ include('admin/invoice/_form.html.twig') }}

    <a href="{{ path('admin_invoice_index') }}">{% trans %}back to list{% endtrans %}</a>
{% endblock %}
